*{
    margin: 0;
    padding: 0;
}
.first-banner{
    display: flex;
    justify-content: center;
}
.banner1{
    width: 1320px;
    height: 600px;
    background-image:
    linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url("../resources/Banner Image.png");
    border-radius: 16px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 40px;
    margin
    
    
}
.banner1 .text {
    color: #ffffff;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-style: normal;
    justify-content: center;
     padding: 200px;

}

.banner1 .text h5{
font-size: 32px;
font-weight: 400;
line-height: normal;
padding-bottom: 20px;
}

.banner1 .text h1{
font-size: 72px;
font-weight: 900;
line-height: 95px;
}



